<!DOCTYPE html>
<html>
<head>
    <title>Adresy domů</title>
</head>
<body>
    <h1>Adresy domů</h1>
    <table border="1">
        <tr>
            <th>Město</th>
            <th>Ulice</th>
            <th>Číslo domu</th>
            <th>Akce</th>
        </tr>
        {% for zaznam in zaznamy %}
        <tr>
            <td>{{ zaznam.town }}</td>
            <td>{{ zaznam.street }}</td>
            <td>{{ zaznam.number }}</td>
            <td>
                <form action="{{ url_for('routes.smazat', id=zaznam.id) }}" method="POST">
                    <button type="submit">Smazat</button>
                </form>
                <a href="/edit/{{zaznam.id}}">
                    <button type="submit">Upravit</button>
                </form>
                
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/bydliste">Zpět na formulář</a>
</body>
</html>
